* {
    box-sizing: border-box;
}

body {
    background: #fff;
    justify-content: center;
    min-width: 320px;
    max-width: 1800px;
    margin: 0 auto;
}

.section {
    margin: 0 auto;
    max-width: 1000px;
    max-height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.calendar {
    border-radius: 8px;
}

.calendar__inner {
    width: 100%;
    height: 100%;
    padding-bottom: 114%;
    position: relative;

}

.calendar__body {
    width: 100%;
    padding-bottom: 100%;
    position: relative;

}

.calendar__body-inner {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(7, 40px);
}

.calendar__body-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 9%;
}

.calendar__header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 9%;
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.calendar__item_day {
    align-items: start;
    color: rgba(102, 102, 102, 0.685);
    margin-top: 20px;
}

.calendar__item_active {
    background: rgb(67, 36, 247);
    color: white;
}

.calendar__item_between-active {
    background: rgba(68, 36, 247, 0.507);
    color: white;
}